.spacingTop {
    padding-top: 10px;
}

.divSpecify {
    width: 100%;
    max-height: 100px;
    text-align: center;
}

.test {
    border:.5px solid lightgray;
    border-radius: 20px;
}

.spacing {
    padding: 5px;
}

.test2 {
    width: 75%;
    float: right;
}

.filterSpace {
    padding: 10px;
    padding-bottom: 30px;
}

.styleSearch {
    width: 30%;
    padding: 6px;
    font-size: 20px;
    border-radius: 10px;
}

.paddingTop {
    padding-top: 40px;
}

#test {
    padding-right: 40px;
}